<!DOCTYPE html>
<html lang="ja">

<body>
    <div>
        <div>
            <p><b>Make Group</b></p>
        </div>
        
        <div class="container">
            <form action="/group/up" method="post" enctype="multipart/form-data">
                <label for="">ユーザー名</label>
                <input class="form-control" name="name" placeholder="group name">
                <label for="">パスワード</label>
                <input class="form-control" name="password" type="password" placeholder="password">
                <label for="">パスワード確認</label>
                <input class="form-control" name="password_confirmation" type="password" placeholder="password confirm">

                <div class="opacity-50">
                    <input class="form-control btn btn-dark mb-3" type="submit" value="GROUP UP">
                </div>
            </form>
        </div>
        
        <ul align="left" class="container">
            <% if current_user.nil? %>
              <a href="/signin" class="nav-link"><p>ログインはこちら</p></a>
            <% else %>
                <a href="/group/in" class="nav-link"><p>グループ参加はこちら</p></a>
            <% end %>
        </ul>
    </div>
    </body>
</html>