<!DOCTYPE html>
<html lang="ja">
    
    <body>
        <!--<img src="/images/signup.jpg">-->
        <div>
            <div>
                <p><b>Group in</b></p>
            </div>
            
            <div class="container">
                <form action="/group/in" method="post">
                    <label for="">ユーザー名</label>
                    <input class="form-control" name="user" placeholder="group name">
                    <label for="">パスワード</label>
                    <input class="form-control" name="password" type="password" placeholder="password">
                    <div class="opacity-50">
                        <input class="form-control btn btn-dark mb-3" type="submit" value="GROUP IN">
                    </div>
                </form>
            </div>
            
            <ul align="left" class="container">
                <% if current_user.nil? %>
                  <a href="/signin" class="nav-link"><p>ログインはこちら</p></a>
                <% else %>
                    <a href="/group/up" class="nav-link"><p>新規グループ作成はこちら</p></a>
                <% end %>
            </ul>
        </div>
    </body>
</html>
