<!DOCTYPE html>
<html lang="ja">

<body>
    <div>
        <div>
            <p><b>Sign up</b></p>
        </div>
        
        <div class="container">
            <form action="/signup" method="post" enctype="multipart/form-data">
                <label for="">ユーザー名</label>
                <input class="form-control" name="name" placeholder="user name">
                <label for="">パスワード</label>
                <input class="form-control" name="password" type="password" placeholder="password">
                <label for="">パスワード確認</label>
                <input class="form-control" name="password_confirmation" type="password" placeholder="password confirm">
                <!--<input class="form-control" name="iconimg" type="icon" placeholder="アイコンを選択">-->
                
                <label for="">アイコン画像</label>
                <p class="drag-drop-buttons">
                    <input id="file-input" type="file" accept="image/*" name="upload_photo" onChange="photoPreview(event)">
                </p>
                <div class="opacity-50">
                    <input class="form-control btn btn-dark mb-3" type="submit" value="SIGN UP">
                </div>
            </form>
        </div>
        
        <ul class="container">
            <% if current_user.nil? %>
              <a href="/signin" class="nav-link"><p>ログインはこちら</p></a>
            <% end %>
        </ul>
    </div>
    </body>
</html>