<div class="header">
  <h1 class="contents">投稿する</h1>
</div>
<form action="/want/new" method="post" class="contents">
  
  <div>
    <label for="">タイトル</label>
    <input type="text" name="title">
  </div>
  
  <div>
    <label for="">ジャンル</label>
    <input type="text" name="genre_id">
  </div>
  
  <div>
    <label for="">場所</label>
    <input type="text" name="place">
  </div>
  
  <!--<div>-->
  <!--  <label for="">期間</label>-->
  <!--  <input type="text" name="date">-->
  <!--</div>-->
  
  <div>
    <label for="">投稿グループ</label>
    <input type="text" name="post_group_id">
  </div>
  
  
  <input type="submit" value="投稿する">
</form>