<div class="header">
  <h1 class="contents"><b>やりたいことを投稿しよう！</b></b></h1>
</div>
<form action="/want/new" method="post" class="contents">

  <div>
    <label for="">タイトル</label>
    <input type="text" name="title">
  </div>
  
  <div>
    <label for="">ジャンル</label>
    <select name="genre_id">
			<option value="1">映画</option>
			<option value="2">展覧会</option>
			<option value="3">体験</option>
			<option value="4">ご飯</option>
			<option value="5">テーマパーク</option>
			<option value="6">その他</option>
		</select>
    <!--<input type="text" name="genre_id">-->
  </div>
  
  <div>
    <label for="">場所</label>
    <input type="text" name="place">
  </div>
  
  <div>
    <label for="">期間</label>
    <ul>
      <input class="date-range" type="date" name="start_date">
      <span>〜</span>
      <input class="date-range" type="date" name="end_date">
      </ul>
  </div>
  
  <div>
      <label for="group_id">投稿グループ</label>
    <select name="group_id">
       <!--# current_userが所属するグループのgroup_idを取得 -->
      <% part_groups = Part.where(user_id: current_user.id).pluck(:group_id) %>
       <!--# Groupテーブルからgroup_idが一致するレコードを取得-->
      <% matching_groups = Group.where(id: part_groups) %>

      <% matching_groups.each do |group| %>
        <option value="<%= group.id %>"><%= group.name %></option>
      <% end %>
    </select>
    <a href="/group/up"><b>グループ作成</b></a>

    

  </div>
  <br>
  <input type="submit" value="投稿する">
</form>

